views/registration.pug
doctype html
head
  meta(charset='UTF-8')
  title RBI- Registration | Log-in Page
  link(rel='stylesheet' href='assets/css/Registration_style.css')
  // -we had linked our css file---
.full-page
  .navbar
    div
      a(href='index.html') RBI
    nav
      ul#MenuItems
        li
          a(href='/') Home
        // <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Login</button></li>
  #login-form.login-page
    .form-box
      .button-box
        #btn
        button.toggle-btn(type='button' onclick='login()') Log In
        button.toggle-btn(type='button' onclick='register()') Register
      form#login.input-group-login(action='/login' method='POST')
        input.input-field(type='text' placeholder='Account No' name='accno' required='')
        input.input-field(type='password' placeholder='Enter Password' name='password' required='')
        input.check-box(type='checkbox')
        span Remember Password
        button.submit-btn(type='submit') Log in
      form#register.input-group-register(action='/register' method='POST')
        input.input-field(type='text' placeholder='Full Name' name='name' required='')
        input.input-field(type='text' placeholder='PAN No ' name='pan' required='')
        input.input-field(type='date' placeholder='Date of Birth' name='dob' required='')
        input.input-field(type='email' placeholder='Email Id' name='email' required='')
        input.input-field(type='number' placeholder='Mobile No' name='mobile' required='')
        input.input-field(type='password' placeholder='Enter Password' name='password' required='')
        input.check-box(type='checkbox')
        span
          | I agree to the terms and                                                   conditions
        button.submit-btn(type='submit') Register
script.
  var x=document.getElementById('login');
  var y=document.getElementById('register');
  var z=document.getElementById('btn');
  function register()
  {
  x.style.left='-400px';
  y.style.left='50px';
  z.style.left='110px';
  }
  function login()
  {
  x.style.left='50px';
  y.style.left='450px';
  z.style.left='0px';
  }
script.
  var modal = document.getElementById('login-form');
  window.onclick = function(event)
  {
  if (event.target == modal)
  {
  modal.style.display = "none";
  }
  }

Registration.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RBI- Registration | Log-in Page</title>
    <link rel="stylesheet" href="Registration_style.css">
    <!---we had linked our css file----->
</head>
<body>
    <div class="full-page">
        <div class="navbar">
            <div>
                <a href='index.html'>RBI</a>
            </div>
            <nav>
                <ul id='MenuItems'>
                    <li><a href='index.html'>Home</a></li>
                    <!--<li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Login</button></li> -->
                </ul>
            </nav>
        </div>
        <div id='login-form'class='login-page'>
            <div class="form-box">
                <div class='button-box'>
                    <div id='btn'></div>
                    <button type='button'onclick='login()'class='toggle-btn'>Log In</button>
                    <button type='button'onclick='register()'class='toggle-btn'>Register</button>
                </div>
                <form id='login' action="Login.php" method="POST" class='input-group-login'>
                    <input type='text'class='input-field'placeholder='Account No' name="accno" required >
                    <input type='password'class='input-field'placeholder='Enter Password' name="password"required>
                    <input type='checkbox'class='check-box'><span>Remember Password</span>
                    <button type='submit'class='submit-btn'>Log in</button>
                </form>
                <form id='register' action="Registration.php" method="POST" class='input-group-register' >
                    <input type='text'class='input-field'placeholder='Full Name' name ='name' required>
                    <input type='text'class='input-field'placeholder='PAN No ' name='pan' required>
                    <input type='date'class='input-field'placeholder='Date of Birth' name='dob' required>
                    <input type='email'class='input-field'placeholder='Email Id' name='email' required>
                    <input type='number'class='input-field'placeholder='Mobile No' name='mobile' required>
                    <input type='password'class='input-field'placeholder='Enter Password'  name='password' required>
                    <input type='checkbox'class='check-box'><span>I agree to the terms and                                                   conditions</span>
                            <button type='submit'class='submit-btn'>Register</button>
                </form>
            </div>
        </div>
    </div>
    <script>
        var x=document.getElementById('login');
		var y=document.getElementById('register');
		var z=document.getElementById('btn');
		function register()
		{
			x.style.left='-400px';
			y.style.left='50px';
			z.style.left='110px';
		}
		function login()
		{
			x.style.left='50px';
			y.style.left='450px';
			z.style.left='0px';
		}
	</script>
	<script>
        var modal = document.getElementById('login-form');
        window.onclick = function(event)
        {
            if (event.target == modal)
            {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
